:root {
  --white: #ffffff;
  --background: #2D333B;
  --primary: #22D3EE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: var(--background);
  color: var(--white);
  font-family: 'Inter', sans-serif;
}

.container {
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header img {
  width: 44px;
}

.heading {
  margin-bottom: 8rem;
}

.heading h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 1.2;
  letter-spacing: -0.05em;
}

.heading h1 span {
  background: linear-gradient(89.6deg, #4ADE80 -16.8%, #22D3EE 92.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: block;
}

.heading h1 span:last-child {
  transform: translateY(-1.8rem);
}

.footer a {
  display: table;
  color: var(--white);
  font-size: 1rem;
  text-decoration: none;
  padding: .5rem 0;
  transition: all .2s ease-in-out;
}

.footer a:hover {
  color: var(--primary);
}

@media (min-width: 768px) {
  .container {
    padding: 2rem 4rem;
  }
  .heading {
    margin-bottom: 10rem;
  }
  .heading h1 {
    font-size: 8rem;
  }
  .heading h1 span:last-child {
    transform: translateY(-2.8rem);
  }
  .footer a {
    display: inline-block;
  }
  .footer a:hover {
    transform: translateX(0) translateY(-2px);
  }
}
